<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expect.csip.iam.mapper.OrganMapper">


    <select id="listOrganPage" resultType="com.expect.csip.iam.domain.Organ">
        SELECT
            O.ORGAN_ID,
            O.PARENT_ORGAN_ID,
            O.NAME,
            O.FULL_NAME,
            O.NAME_PATH,
            O.ID_PATH,
            O.IS_LEAF_NODE,
            O.TREE_LEVEL,
            O.SORT_NUMBER,
            O.TYPE,
            O.CREATE_PERSON,
            O.CREATE_TIME,
            O.LAST_UPDATE_PERSON,
            O.LAST_UPDATE_TIME,
            O.DELETE_FLAG
        FROM
            TIA_ORGAN O
        WHERE
            O.DELETE_FLAG = '1'
        <if test="condition.parentOrganId != null and condition.parentOrganId != ''">
            AND O.PARENT_ORGAN_ID = #{condition.parentOrganId}
        </if>
        <if test="condition.name != null and condition.name != ''">
            AND O.NAME LIKE CONCAT('%',#{condition.name},'%')
        </if>
    </select>
</mapper>
